@import url(App/config.css);

.ad-Button {
  padding: .8rem 1.4rem;
  background: var(--ad-Color-sec);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background .2s;
  text-decoration: none;
  font-family: inherit;
  font-size: 1rem;
  color: #fff;
}
.ad-Button:focus,
.ad-Button:hover {
  outline: 0;
  background: color(var(--ad-Color-sec) l(+10%));
}
  .ad-Button-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .ad-Button-text {
      text-transform: uppercase;
      font-weight: bold;
      font-size: .65rem;
      letter-spacing: .01rem;
    }
    .ad-Icon + .ad-Button-text {
      margin-left: .4rem;
    }

.ad-Button--tab {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 0;
  background: none;
  font-size: 1.6rem;
}
.ad-Button--tab:focus,
.ad-Button--tab:hover {
  background: none;
}
  .ad-Button--tab .ad-Button-content {
    flex-direction: column;
  }
    .ad-Button--tab .ad-Icon + .ad-Button-text {
      margin-left: 0;
      margin-top: .4rem;
    }

.ad-Button--expand {
  padding: .2rem;
  background: color(#fff a(.05));
  font-size: .8rem;
  color: #fff;
}
.ad-Button--expand:focus,
.ad-Button--expand:hover {
  background: color(#fff a(.15));
}

.ad-Button--delete {
  background: color(var(--ad-Color-prim) l(+10%));
}
.ad-Button--delete:focus,
.ad-Button--delete:hover {
  background: var(--ad-Color-del);
}

.ad-Button--secondary {
  background: color(var(--ad-Color-prim) l(+10%));
}
.ad-Button--secondary:focus,
.ad-Button--secondary:hover {
  background: color(var(--ad-Color-prim) l(+15%));
}

.ad-ButtonFile-file {
  display: none;
}
