@import url(App/config.css);

.ad-ButtonReset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  border-radius: none;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  line-height: 1;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
}

.ad-Button {
  width: 100%;
  background: color(var(--ad-Color-prim) l(-6%));
  transition: background .2s, border .2s, color .2s;
  text-transform: uppercase;
  line-height: 1.4;
  font-family: "Fira Sans", sans-serif;
  font-size: .8rem;
  letter-spacing: .025rem;
  color: #fff;
}
.ad-Button:focus,
.ad-Button:hover {
  background: color(var(--ad-Color-prim) l(-8%));
}

.ad-Button.action {
  border-radius: 2px;
}
.ad-Button.action + .ad-Button.action {
  margin-left: .5rem;
}

.ad-Button.primary {
  background: var(--ad-Color-sec);
}
.ad-Button.primary:focus,
.ad-Button.primary:hover {
  background: color(var(--ad-Color-sec) l(-8%));
}

.ad-Button.light {
  background: #fff;
  border: 2px solid color(var(--ad-Color-prim) l(+70%));
  color: var(--ad-Color-prim);
}
.ad-Button.light:focus,
.ad-Button.light:hover {
  background: color(var(--ad-Color-prim) l(+70%));
}

.ad-Button.tab {
  position: relative;
  margin-bottom: 2px;
  background: none;
}
  .ad-Button.tab > * {
    position: relative;
  }
  .ad-Button.tab::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform .2s, background .2s;
    transform: scale(.5);
    background: none;
  }
  .ad-Button.tab:focus::before,
  .ad-Button.tab:hover::before {
    transform: scale(1);
    background: color(var(--ad-Color-prim) l(+8%));
  }
  .ad-Button.tab.active::before {
    transform: scale(1);
    background: var(--ad-Color-sec);
  }

.ad-Button.expand {
  background: none;
  color: color(var(--ad-Color-prim) l(+40%));
}
.ad-Button.expand.grab {
  cursor: grab;
}

  .ad-Button-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .ad-Button-content > svg + * {
      margin-left: .25rem;
    }

.ad-ButtonRounded {
  border-radius: 30rem;
}
