@import url(App/config.css);

.ad-ButtonReset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  border-radius: none;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  line-height: 1;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
}

.ad-Button {
  width: 100%;
  background: color(var(--ad-Color-prim) l(-6%));
  transition: background .2s;
  text-transform: uppercase;
  line-height: 1.4;
  font-family: "Fira Sans", sans-serif;
  font-size: .8rem;
  letter-spacing: .025rem;
  color: #fff;
}
.ad-Button:focus,
.ad-Button:hover {
  background: color(var(--ad-Color-prim) l(-8%));
}
.ad-Button.primary {
  background: var(--ad-Color-sec);
}
.ad-Button.primary:focus,
.ad-Button.primary:hover {
  background: color(var(--ad-Color-sec) l(-8%));
}
  .ad-Button-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .ad-Button-content > .ad-Icon {
      font-size: 1.5em;
    }
    .ad-Button-content > .ad-Icon + * {
      margin-left: .25rem;
    }

.ad-ButtonRounded {
  border-radius: 30rem;
}
