@import url(App/config.css);

.ad-Tabs {
  height: 100%;
  flex-direction: row;
}

.ad-TabList {
  margin: 0;
  padding: 0;
  width: 5rem;
  list-style: none;
  background: color(var(--ad-Color-prim) l(-5%));
}

.ad-Tab {
  height: 5rem;
}
.ad-Tab.is-active {
  background: var(--ad-Color-sec);
}

.ad-TabPanel {
  flex: 1;
  height: 100%;
  display: none;
}
.ad-TabPanel.is-active {
  display: flex;
}
