@import url(App/config.css);

.ad-Tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ad-TabList {
  height: 3.5rem;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background: color(var(--ad-Color-prim) l(-4%));
}

.ad-Tab {
  height: 100%;
  flex: 1;
}
.ad-Tab.is-active {
  background: var(--ad-Color-sec);
}

.ad-TabPanel {
  flex: 1;
  height: 100%;
  display: none;
}
.ad-TabPanel.is-active {
  display: flex;
  flex-direction: column;
}
