@import url(App/config.css);

.ad-Project {
  height: 100vh;
  display: flex;
  flex-direction: column;
  outline: 0;
}
  .ad-Project-layout {
    flex: 1;
    display: flex;
  }
    .ad-Project-overview {
      flex: 1;
      display: flex;
      overflow: auto;
      background: color(var(--ad-Color-prim) l(-4%));
    }
    .ad-Project-sidebar {
      display: flex;
      flex-direction: column;
      width: 23rem;
    }
