@import url(App/config.css);

.ad-Project {
  flex: 1;
  display: flex;
  outline: 0;
}
  .ad-Project-overview {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: color(var(--ad-Color-prim) l(-8%));
  }
