@import url(App/config.css);

.ad-Sidebar {
  overflow: hidden;
  height: 100%;
  width: 25rem;
  background: var(--ad-Color-prim);
}
  .ad-Sidebar ::-webkit-scrollbar {
    width: 5px;
  }
  .ad-Sidebar ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: color(var(--ad-Color-prim) l(+20%));
  }

.ad-SidebarPaths {
  height: 50%;
}
  .ad-SidebarPaths-module {
    flex: 1;
    overflow: auto;
  }
  .ad-SidebarPaths-actions {
    padding: 1.5rem;
  }

.ad-SidebarPoint {
  height: 50%;
}
  .ad-SidebarPoint-module {
    flex: 1;
    overflow: auto;
  }
  .ad-SidebarPoint-actions {
    padding: 1.5rem;
  }

.ad-SidebarPath {
  border-left: 3px solid color(var(--ad-Color-prim) l(-8%));
}
.ad-SidebarPath.is-active {
  border-color: var(--ad-Color-sec);
}
  .ad-SidebarPath-name {
    flex: 1;
    flex-direction: row;
    padding: 0 .5rem;
  }
    .ad-SidebarPath-input {
      width: 100%;
      padding: .25rem .5rem;
      background: none;
      border: none;
      border-radius: 2px;
      font-family: inherit;
      font-size: .8rem;
      color: #fff;
    }
    .ad-SidebarPath-input:focus {
      outline: 0;
      background: color(var(--ad-Color-prim) l(-5%));
    }
