@import url(App/config.css);

.ad-Sidebar {
  overflow: hidden;
  height: 100%;
  width: 25rem;
  background: var(--ad-Color-prim);
}
  .ad-Sidebar ::-webkit-scrollbar {
    width: 5px;
  }
  .ad-Sidebar ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: color(var(--ad-Color-prim) l(+20%));
  }
