@import url(App/config.css);

.ad-Sidebar {
    overflow: hidden;
    height: 100%;
    width: 25rem;
    display: flex;
    flex-direction: column;
    background: var(--ad-Color-prim);
}
    .ad-Sidebar ::-webkit-scrollbar {
        width: 5px;
    }
    .ad-Sidebar ::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: color(var(--ad-Color-prim) l(+20%));
    }

.ad-Sidebar-tab {
    height: 100%;
    display: flex;
    flex-direction: column;
}
    .ad-Sidebar-settings {
        flex: 1 0 0;
        overflow: auto;
    }
    .ad-Sidebar-actions {
        flex-shrink: 0;
        padding: 2rem;
    }

.ad-Expand-head {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background: color(var(--ad-Color-prim) l(-2%));
    color: #fff;
}
.ad-Expand.is-active .ad-Expand-head {
    background: var(--ad-Color-sec);
}
    .ad-Expand-button {
        display: block;
        padding: .2rem;
        background: rgba(0, 0, 0, .1);
        border: none;
        border-radius: 2px;
        cursor: pointer;
        font-size: .8rem;
        color: #fff;
    }
    .ad-Expand-button:focus,
    .ad-Expand-button:hover {
        outline: 0;
        background: rgba(0, 0, 0, .2);
    }
    .ad-Expand-title {
        flex: 1;
        margin-left: .5rem;
        font-size: .8rem;
        color: currentColor;
    }

.ad-Expand-content {
    display: none;
}
.ad-Expand.is-expanded .ad-Expand-content {
    display: block;
}

.ad-Setting {
    display: flex;
    padding: 2rem;
}
.ad-Setting + .ad-Setting {
    padding-top: 0;
}
