@import url(App/config.css);

.ad-Checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}
.ad-Checkbox-input {
  display: none;
}
.ad-Checkbox-fake {
  position: relative;
  height: 8px;
  width: 28px;
  cursor: pointer;
  background: color(var(--ad-Color-prim) l(+6%));
  border-radius: 5rem;
}
  .ad-Checkbox-fake::after {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 4px solid #fff;
    background: color(var(--ad-Color-prim) l(+6%));
    border-radius: 50%;
    transform: translateX(0);
    transition: transform .1s, border .1s;
  }
  .ad-Checkbox-input:checked + .ad-Checkbox-fake::after {
    border-color: var(--ad-Color-sec);
    transform: translateX(14px);
  }
