@import url(App/config.css);

.ad-ExpandCaption {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background: color(var(--ad-Color-prim) l(-2%));
}
  .ad-ExpandCaption-label {
    flex: 1;
  }

.ad-ExpandPanel {
  flex: 1;
  padding: .5rem 0;
  display: none;
}
.ad-ExpandPanel.is-opened {
  display: flex;
  flex-direction: column;
}
