@import url(App/config.css);

.ad-ExpandCaption {
  flex-direction: row;
  align-items: center;
  padding: 1rem 1.5rem;
  background: color(var(--ad-Color-prim) l(-2%));
}
  .ad-ExpandCaption-label {
    flex: 1;
    margin-left: .5rem;
  }

.ad-ExpandPanel {
  flex: 1;
  display: none;
}
.ad-ExpandPanel.is-opened {
  display: flex;
}
