@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Fira+Mono:400,700);
@import url(App/config.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: var(--ad-FontSize);
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  line-height: 1;
  font-size: 100%;
  color: #000;
}

.ad-App {
  height: 100vh;
}
