@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(./config.css);

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: var(--ad-FontSize);
}

html,
body,
.ad-AppContainer {
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.ad-App {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ad-About {
    padding: 2rem;
}
    .ad-About-title {
        font-size: 1.4rem;
        font-weight: bold;
        color: #fff;
    }
    .ad-About-content {
        padding-top: 1rem;
        line-height: 1.8;
        font-size: .9rem;
        color: color(var(--ad-Color-prim) l(+60%));
    }
        .ad-About-content a {
            color: var(--ad-Color-sec);
            border-bottom: 1px solid transparent;
            transition: border .1s;
            text-decoration: none;
        }
        .ad-About-content a:hover,
        .ad-About-content a:focus {
            border-color: currentColor;
        }
