@import url(App/config.css);

.ad-Text {
  height: 1.25rem;
  text-align: center;
}
.ad-Textarea {
  height: 5rem;
  padding: .8rem 1rem;
  resize: none;
  line-height: 1.6;
}
.ad-Text,
.ad-Textarea {
  width: 100%;
  background: color(var(--ad-Color-prim) l(-4%));
  border: none;
  border-radius: 2px;
  transition: background .2s;
  font-family: "Fira Mono", monospace;
  font-size: .65rem;
  color: #fff;
}
.ad-Text:focus,
.ad-Textarea:focus {
  outline: 0;
  background: color(var(--ad-Color-prim) l(-6%));
}
