@import url(App/config.css);

.ad-Path {
  fill: none;
  color: color(var(--ad-Color-prim) l(+16%));
}
  .ad-Path-bbox {
    stroke: var(--ad-Color-sec);
  }
  .ad-Path-global {
    stroke: currentColor;
    stroke-width: 5px;
  }
  .ad-Path-local {
    stroke: color(var(--ad-Color-sec) l(+10%));
  }
