@import url(App/config.css);

.ad-Builder {
  height: 100%;
  width: 100%;
}
  .ad-Builder-rendering {
    overflow: auto;
    flex: 1;
    padding: 2rem;
    background: color(var(--ad-Color-prim) l(+75%));
  }
    .ad-Builder-svg {
      min-height: min-content;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
