@import url(App/config.css);

.ad-Builder {
    height: 100%;
    width: 100%;
    display: flex;
}
    .ad-Builder-main {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
        .ad-Builder-svg {
            overflow: auto;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background: color(var(--ad-Color-prim) l(+75%));
        }

    .ad-Builder-controls {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 20rem;
        background: var(--ad-Color-prim);
    }
    .ad-Builder-controls ::-webkit-scrollbar {
        width: 6px;
    }
    .ad-Builder-controls ::-webkit-scrollbar-thumb {
        border-radius: 30px;
        background: color(var(--ad-Color-prim) l(+25%));
    }
