@import url(App/config.css);

.ad-Overview {
  flex: 1;
  display: flex;
  overflow: auto;
  position: relative;
  background: color(var(--ad-Color-prim) l(-4%));
}
.ad-Overview:focus {
  outline: 2px solid var(--ad-Color-sec);
  outline-offset: -2px;
}
.ad-Overview::-webkit-scrollbar {
  width: .85rem;
  height: .85rem;
}
.ad-Overview::-webkit-scrollbar-track,
.ad-Overview::-webkit-scrollbar-corner {
  background: transparent;
}
.ad-Overview::-webkit-scrollbar-thumb {
  background: color(var(--ad-Color-prim) l(+40%) a(.6));
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 1rem;
}
  .ad-Overview-rendering {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: min-content;
    min-width: min-content;
  }
    .ad-Overview-svg {
      display: block;
      background: #fff;
      user-select: none;
    }
