@import url(App/config.css);

.ad-Projects {
  display: flex;
  flex-wrap: wrap;
}

.ad-ProjectItem {
  position: relative;
  width: 25%;
  height: 20rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}
  .ad-ProjectItem-overview {
    position: relative;
    height: 75%;
    background: color(var(--ad-Color-prim) l(-6%));
    border-radius: 2px 2px 0 0;
  }
    .ad-ProjectItem-open {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      font-family: "Fira Sans", sans-serif;
      font-size: .7rem;
      letter-spacing: .1rem;
      color: #fff;
    }

  .ad-ProjectItem-content {
    height: 25%;
    background: #fff;
    border-radius: 0 0 2px 2px;
  }
    .ad-ProjectItem-name {
      text-decoration: none;
      color: var(--ad-Color-prim);
    }
      .ad-ProjectItem-name::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
