@import url(App/config.css);

.ad-Choices {
  width: 100%;
  display: flex;
  align-items: center;
}

.ad-Choice {
  flex: 1;
}
  .ad-Choice-input {
    display: none;
  }
  .ad-Choice-fake {
    padding: .75rem 0;
    background: color(var(--ad-Color-prim) l(+6%));
    transition: background .2s;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-family: "Fira Sans", sans-serif;
    font-size: .65rem;
    letter-spacing: .05rem;
    color: #fff;
  }
  .ad-Choice-fake:hover {
    background: color(var(--ad-Color-prim) l(+12%));
  }
  .ad-Choice:first-of-type .ad-Choice-fake {
    border-radius: 2px 0 0 2px;
  }
  .ad-Choice:last-of-type .ad-Choice-fake {
    border-radius: 0 2px 2px 0;
  }
  .ad-Choice-input:checked + .ad-Choice-fake {
    background: var(--ad-Color-sec);
  }
