@import url(App/config.css);

.ad-HomeHead {
  padding: 6rem 0;
  background: var(--ad-Color-prim);
}
  .ad-HomeHead-container {
    display: flex;
    align-items: flex-start;
  }
    .ad-HomeHead-logo {
      font-size: 3rem;
      color: #fff;
    }
    .ad-HomeHead-brand {
      margin-left: 1rem;
      color: #fff;
    }
      .ad-HomeHead-title {
        padding: 0;
        margin: 0;
        font-family: "Fira Sans", sans-serif;
        font-size: 2.2rem;
        font-weight: 300;
      }
      .ad-HomeHead-lead {
        margin-top: .5rem;
        font-family: "Fira Sans", sans-serif;
        font-size: 1.6rem;
        font-weight: 300;
        color: color(var(--ad-Color-prim) l(+60%));
      }

.ad-HomeBody {
  padding: 4rem 0;
  background: color(var(--ad-Color-prim) l(-4%));
}
  .ad-HomeBody-container {
    display: flex;
  }

.ad-HomeActions {
  display: flex;
  flex-direction: column;
  width: 12rem;
  margin: 0;
  padding: .5rem 0;
  list-style: none;
}

.ad-HomeAction {
  margin-bottom: .5rem;
}

.ad-HomeProjects {
  flex: 1;
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.ad-HomeProject {
  position: relative;
  width: 25%;
  height: 20rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}
  .ad-HomeProject-overview {
    position: relative;
    overflow: hidden;
    height: 60%;
    transition: height .2s;
  }
  .ad-HomeProject:hover .ad-HomeProject-overview {
    height: 70%;
  }
    .ad-HomeProject-svg {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: #fff;
    }
      .ad-HomeProject-svg path {
        fill: none;
        stroke: var(--ad-Color-prim);
        stroke-width: 2px;
      }

    .ad-HomeProject-open {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: .8rem 1.2rem;
      opacity: 0;
      transform: translate(-50%, -50%);
      background: var(--ad-Color-prim);
      transition: opacity .2s;
      text-transform: uppercase;
      font-family: "Fira Sans", sans-serif;
      font-size: .7rem;
      letter-spacing: .15rem;
      color: #fff;
    }
    .ad-HomeProject:hover .ad-HomeProject-open {
      opacity: 1;
    }

  .ad-HomeProject-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: color(var(--ad-Color-prim) l(+75%));
  }
    .ad-HomeProject-name {
      text-decoration: none;
      font-family: "Fira Sans", sans-serif;
      font-size: 1.1rem;
      color: var(--ad-Color-prim);
    }
      .ad-HomeProject-name::after {
        content: "";
        z-index: 100;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

    .ad-HomeProject-datetime {
      margin-top: .4rem;
      font-family: "Fira Sans", sans-serif;
      font-size: .9rem;
      color: color(var(--ad-Color-prim) l(+40%));
    }
