@import url(App/config.css);

.ad-Home {
  flex: 1;
  display: flex;
  flex-direction: column;
}
  .ad-Home-head {
    padding: 6rem 0;
    background: var(--ad-Color-prim);
  }
    .ad-Home-brand {
      display: flex;
      align-items: flex-start;
    }
      .ad-Home-logo {
        font-size: 3rem;
        color: #fff;
      }
      .ad-Home-brandcontent {
        margin-left: 1rem;
        color: #fff;
      }
        .ad-Home-title {
          padding: 0;
          margin: 0;
          font-family: "Fira Sans", sans-serif;
          font-size: 2.2rem;
          font-weight: 300;
        }
        .ad-Home-lead {
          margin-top: .5rem;
          font-family: "Fira Sans", sans-serif;
          font-size: 1.6rem;
          font-weight: 300;
          color: color(var(--ad-Color-prim) l(+60%));
        }

  .ad-Home-body {
    flex: 1;
    padding: 4rem 0;
    background: color(var(--ad-Color-prim) l(-4%));
  }
    .ad-Home-content {
      display: flex;
    }
      .ad-Home-actions {
        display: flex;
        flex-direction: column;
        width: 12rem;
        padding: .5rem 0;
        margin: 0;
        list-style: none;
      }
        .ad-Home-action {
          margin-bottom: 1rem;
        }

      .ad-Home-projects {
        flex: 1;
        margin-left: 2rem;
      }
