@import url(App/config.css);

.ad-Hint {
  width: 100%;
  display: flex;
  padding: 2rem;
  border-radius: 2px;
  background: color(var(--ad-Color-prim) l(+4%));
}
.ad-Hint--column {
  flex-direction: column;
  align-items: center;
}
  .ad-Hint-icon {
    padding-right: .75rem;
    color: #fff;
  }
  .ad-Hint--column .ad-Hint-icon {
    padding: 0;
    padding-bottom: .75rem;
  }
  .ad-Hint-content {
    flex: 1;
  }
  .ad-Hint--column .ad-Hint-content {
    text-align: center;
  }
    .ad-Hint-title {
      margin-bottom: .2rem;
      line-height: 1.4;
      font-family: "Fira Sans", sans-serif;
      font-size: 1rem;
      color: #fff;
    }
    .ad-Hint-message {
      line-height: 1.6;
      font-family: "Fira Sans", sans-serif;
      font-size: .8rem;
      color: color(var(--ad-Color-prim) l(+60%));
    }
