@import url(App/config.css);

.ad-SidebarSettings-input {
  outline: 0;
  width: 100%;
  border: none;
  background: none;
  transition: color .2s;
  font-weight: 300;
  font-family: inherit;
  font-size: 1.5rem;
  color: #fff;
}
.ad-SidebarSettings-input:focus,
.ad-SidebarSettings-input:hover {
  color: color(var(--ad-Color-prim) l(+60%));
}
