@import url(App/config.css);

.ad-Settings {
  display: flex;
  padding: 1rem 1.5rem;
}

.ad-Setting {
  flex: 1;
}
  .ad-Setting-label {
    display: block;
    margin-bottom: .6rem;
    text-transform: uppercase;
    font-size: .65rem;
    letter-spacing: .02rem;
    color: color(var(--ad-Color-prim) l(+60%));
  }
