@import url(App/config.css);

.ad-Settings {
  padding: 1rem 1.5rem;
  flex-direction: row;
}

.ad-Setting {
  flex: 1;
}
  .ad-Setting-label {
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: .06rem;
    color: color(var(--ad-Color-prim) l(+60%));
  }
