@import url(App/config.css);

.ad-Settings {
  padding: .5rem 1.5rem;
}
  .ad-Settings-title {
    padding: 0;
    margin: .5rem 0;
    text-transform: uppercase;
    font-family: "Fira Sans", sans-serif;
    font-size: .65rem;
    font-weight: 500;
    letter-spacing: .05rem;
    color: color(var(--ad-Color-prim) l(+60%));
  }

.ad-Setting {
  display: flex;
  align-items: center;
  padding: .5rem 0;
}
.ad-Setting + .ad-Setting {
  border-top: 1px solid color(var(--ad-Color-prim) l(+4%));
}
  .ad-Setting-label {
    display: block;
    width: 4rem;
    margin-right: .5rem;
    font-family: "Fira Sans", sans-serif;
    font-size: .7rem;
    color: color(var(--ad-Color-prim) l(+75%));
  }
  .ad-Setting-widget {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
