@import url(App/config.css);

.ad-Navbar {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  background: var(--ad-Color-prim);
}
  .ad-Navbar-logo {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
  }

.ad-NavbarList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ad-Navbar > .ad-NavbarList {
  flex: 1;
  display: flex;
  align-items: center;
}

.ad-NavbarLink {
  cursor: pointer;
  text-decoration: none;
  color: red;
}

.ad-NavbarItem {
  position: relative;
}
  .ad-NavbarItem .ad-ExpandPanel {
    position: absolute;
    top: 100%;
    left: 0;
  }
