@import url(App/config.css);

.ad-MainPoint-code {
  cursor: default;
  fill: color(var(--ad-Color-prim) l(+40%));
  text-anchor: start;
  font-family: "Fira Mono", monospace;
  font-size: .7rem;
}
.ad-MainPoint-coords {
  cursor: pointer;
  fill: #fff;
  stroke: color(var(--ad-Color-prim) l(+16%));
  stroke-width: 2px;
}
.ad-MainPoint-code,
.ad-MainPoint-coords {
  transition: fill .2s;
}
.ad-Point.is-active .ad-MainPoint-coords {
  fill: var(--ad-Color-sec);
  stroke: var(--ad-Color-sec);
}

.ad-Anchor {
  opacity: .6;
}
.ad-Point.is-active .ad-Anchor {
  opacity: 1;
}
  .ad-Anchor-point {
    cursor: pointer;
    fill: var(--ad-Color-sec);
  }
  .ad-Anchor-line {
    stroke: var(--ad-Color-sec);
    stroke-width: 1px;
    stroke-dasharray: 8 8;
  }
