@import url(App/config.css);

.ad-Point-main {
  cursor: pointer;
  fill: color(var(--ad-Color-prim) l(+15%));
  transition: fill .2s;
}
.ad-Point-main:hover,
.ad-Point.is-active .ad-Point-main {
  fill: var(--ad-Color-sec);
}

.ad-Anchor {
  opacity: .5;
}
.ad-Point.is-active .ad-Anchor {
  opacity: 1;
}
  .ad-Anchor-point {
    cursor: pointer;
    fill: var(--ad-Color-sec);
  }
  .ad-Anchor-line {
    stroke: var(--ad-Color-sec);
    stroke-width: 1px;
    stroke-dasharray: 8 8;
  }
