@import url(App/config.css);

.ad-SidebarPath {
  user-select: none;
  border-left: 3px solid color(var(--ad-Color-prim) l(-10%));
}
.ad-SidebarPath.is-active {
  border-color: var(--ad-Color-sec);
}

.ad-SidebarPathCaption {
  display: flex;
  align-items: center;
}
  .ad-SidebarPath-name {
    flex: 1;
    padding: 0 1rem;
    font-size: .8rem;
    color: color(var(--ad-Color-prim) l(+75%));
  }
    .ad-SidebarPath-input {
      width: 100%;
      background: none;
      border: none;
      outline: 0;
      font-family: inherit;
      font-size: 1em;
      color: currentColor;
    }
    .ad-SidebarPath-input:focus {
      color: #fff;
    }

  .ad-SidebarPath-reorder {
    cursor: grab;
    font-size: 1.25rem;
    color: color(var(--ad-Color-prim) l(+10%));
  }
