@import url(App/config.css);

.ad-SidebarPath {
  user-select: none;
}
.ad-SidebarPath.is-hidden {
  opacity: .2;
}

.ad-SidebarPathExpand {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background: color(var(--ad-Color-prim) l(-4%));
}
.ad-SidebarPath.is-active .ad-SidebarPathExpand {
  background: color(var(--ad-Color-prim) l(-6%));
}
  .ad-SidebarPathExpand-caption {
    flex: 1;
    display: flex;
    align-items: center;
  }
    .ad-SidebarPath-name {
      flex: 1;
      padding: 0 1rem;
      font-size: .8rem;
      color: #fff;
    }
      .ad-SidebarPath-input {
        outline: 0;
        width: 100%;
        border: none;
        background: none;
        transition: color .2s;
        font-weight: 300;
        font-family: inherit;
        font-size: 1em;
        color: currentColor;
      }
      .ad-SidebarPath-input:focus,
      .ad-SidebarPath-input:hover {
        color: color(var(--ad-Color-prim) l(+60%));
      }

    .ad-SidebarPath-reorder {
      cursor: grab;
      font-size: 1.25rem;
      color: color(var(--ad-Color-prim) l(+12%));
    }
