@import url(App/config.css);

.ad-SidebarPoint {
  height: 50%;
  display: flex;
  flex-direction: column;
}
  .ad-SidebarPoint-module {
    flex: 1;
    overflow: auto;
    padding: .5rem 0;
  }
  .ad-SidebarPoint-actions {
    display: flex;
    padding: 1.5rem;
  }
