@import url(App/config.css);

.ad-SVG {
    display: block;
    flex-shrink: 0;
    background: #fff;
    border-radius: 4px;
}
    .ad-Grid {
        fill: none;
        stroke: #e3e3e3;
        stroke-width: 1px;
    }
    .ad-Grid.is-hidden {
        opacity: 0;
    }
    .ad-Path {
        fill: none;
        stroke: color(var(--ad-Color-prim) l(+15%));
        stroke-width: 4px;
        stroke-linecap: round;
    }
    .ad-Path--filled {
        fill: color(var(--ad-Color-prim) l(+15%));
    }
    .ad-Point {
        cursor: pointer;
        fill: #fff;
        stroke: color(var(--ad-Color-prim) l(+15%));
        stroke-width: 5px;
        transition: fill .2s;
    }
    .ad-Point:hover,
    .ad-PointGroup.is-active .ad-Point {
        fill: var(--ad-Color-sec);
    }
    .ad-PointGroup--first .ad-Point {
        stroke: var(--ad-Color-sec);
    }
    .ad-Anchor {
        opacity: .5;
    }
    .ad-PointGroup.is-active .ad-Anchor {
        opacity: 1;
    }
        .ad-Anchor-point {
            cursor: pointer;
            fill: #fff;
            stroke: color(var(--ad-Color-prim) l(+35%));
            stroke-width: 4px;
        }
        .ad-Anchor-line {
            stroke: color(var(--ad-Color-prim) l(+35%));
            stroke-width: 1px;
            stroke-dasharray: 10 10;
        }
