@import url(App/config.css);

.ad-SVG {
    display: block;
    flex-shrink: 0;
    background: #fff;
    border-radius: 4px;
}

.ad-Grid {
    fill: none;
    stroke: color(var(--ad-Color-prim) l(+75%));
    stroke-width: 1px;
}
.ad-Grid.is-hidden {
    opacity: 0;
}

.ad-Shape {
    opacity: .6;
}
.ad-Shape.is-active {
    opacity: 1;
}

.ad-Path {
    fill: none;
    stroke: color(var(--ad-Color-prim) l(+15%));
    stroke-width: 4px;
    stroke-linecap: round;
}
.ad-Path--filled {
    fill: color(var(--ad-Color-prim) l(+15%));
}
