@import url(App/config.css);

.ad-Control {
  flex: 1;
}
  .ad-Control-label {
    display: block;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: .06rem;
    color: color(var(--ad-Color-prim) l(+60%));
  }
